<!DOCTYPE html>
<html>
<head>
<title>Upload File</title>
</head>
<body>
<p>S3 Upload</p>
<form id="myform">
    <input type="hidden" id="key" name="key">
    <input type="hidden" id="acl" name="acl">
    <input type="hidden" id="success_action_status" name="success_action_status">
    <input type="hidden" id="policy" name="policy">
    <input type="hidden" id="x-amz-algorithm" name="x-amz-algorithm">
    <input type="hidden" id="x-amz-credential" name="x-amz-credential">
    <input type="hidden" id="x-amz-date" name="x-amz-date">
    <input type="hidden" id="x-amz-signature" name="x-amz-signature">

    <input id="file_input" type="file" name="file" />
    <input type="submit" name="btn_submit" id="btn_submit">
    </form>
    </body>
</html>body>
</html>